{% extends 'base.html' %}
{% block body %}

<div class="container my-5">
    <h1 class="text-center mb-4">Pascal-to-Go Translator</h1>
    <form action="{{ url_for('index') }}" method="GET">
        <div class="row g-4">
            
            <div class="col-md-6">
                <div class="card h-100 shadow">
                    <div class="card-header bg-primary text-white">
                        <h2 class="card-title mb-0">Pascal Code</h2>
                    </div>
                    <div class="card-body">
                        <textarea class="form-control fs-5" name="input" rows="12"
                            placeholder="Write your Pascal code here" id="input"
                            onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{ input }}</textarea>
                    </div>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="card h-100 shadow">
                    <div class="card-header bg-success text-white">
                        <h2 class="card-title mb-0">Go Code</h2>
                    </div>
                    <div class="card-body">
                        <textarea class="form-control fs-5" rows="12" readonly>{{ output }}</textarea>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-lg btn-primary">
                <i class="bi bi-arrow-right"></i> Translate
            </button>
        </div>
    </form>

   
    {% if output %}
    <div class="row g-4 mt-4">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h2 class="card-title mb-0">Syntax Tree</h2>
                </div>
                <div class="card-body">
                    <textarea class="form-control fs-5" rows="8" readonly>{{ syntaxTree }}</textarea>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-warning text-dark">
                    <h2 class="card-title mb-0">Tokens</h2>
                </div>
                <div class="card-body">
                    <textarea class="form-control fs-5" rows="8" readonly>{{ tokens }}</textarea>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock body %}